.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

#showcase {
    background-color: #fd7e14 !important;
}


.rooms {
    height: auto;
}

.container {
    max-width: 100%;
}

@media(max-width:767px) {
    .container {
        height: fit-content;
    }
}

.card {
    padding: 1rem;
    margin: 1.5rem 4vw;
    border-radius: 1rem;
    background-color: rgba(238, 237, 237, 0.22);
    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 5px 6px 6px 2px #e9ecef;
    text-align: center;
    height: 200px;
    border: .2px solid grey;
}

.card .humidity,
.card .positions,
.card .temperature {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.card .humidity .icon,
.card .positions .icon,
.card .temperature .icon {
    width: 40px;
    margin: 0 auto;
}

.title {
    font-size: 1rem;
    font-weight: bolder;
}

.header {
    margin-top: 1rem;
    font-weight: bolder;
    color: grey !important;
    font-size: .8rem;
}

@media(max-width:768px) {
    .card {
        margin: 1.5rem;
    }
}

.title {
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.title p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}

.temp {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.header {
    color: #dddddd;
}

.col-4 {
    padding: 0 0.2rem;
}

.icon {
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999;
}

.icon img {
    width: 100%;
    display: block;
}

.positions p {
    font-size: .8rem;
    margin: 0;
}

#footer {
    background-color: #212529;
}

#footer p {
    color: #dddddd;
    font-size: 1.2rem;
}